// Colors
$white-color: #ffffff;
$black-color: #000000;
$light-pink-background-color: #faf4f2;
$light-pink-menu-text-color: #faebec;
$red-color: #ed2a58;
$pink-badge-color: #f990a9;
$purple-color: #4f2a79;
$sand-color: #f1ddd3;
$purple-darker-color: #33286f;
$transparent-color: rgba(0, 0, 0, 0);
$overlay-black-80-per: rgba(0, 0, 0, 0.8);
$overlay-black-40-per: rgba(0, 0, 0, 0.4);
